@import url('https://fonts.googleapis.com/css?family=Signika');
$light: #fff;
$dark: #21213d;
$col1: #1cc7d0;
$col2: #2ede98;
$col3: #3369e7;
$time: 500ms;
$cubic: cubic-bezier(0.06,
0.63,
0.91,
0.66);
$aside: 25vw;
$size: 0.25em;
body {
    margin: 0;
    padding: 0;
    height: 99vh;
    overflow: hidden;
    display: flex;
    line-height: 1.5;
    font-family: 'Signika', cursive;
    font-weight: 300;
    background-color: $dark;
    color: $light;
    font-family: 'helvetica', san-serif;
}

article {
    //padding: ($size * 10) ($size * 4) $size;
    transition: all $time / 2 $cubic;
}

article {
    //position: relative;
    //transform-origin: 10% 50%; // change for position
    width: 100%;
    background-image: linear-gradient( 45deg, $col1, $col2);
    .wrapper {
        margin: auto;
        padding: 1px;
        max-width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            margin: 0;
        }
        .footer {
            text-align: right;
        }
    }
}

.tilesWrap {
    padding: 0;
    margin: 50px auto;
    list-style: none;
    text-align: center;
}

.tilesWrap li {
    display: inline-block;
    width: 20%;
    min-width: 200px;
    max-width: 230px;
    padding: 80px 20px 40px;
    position: relative;
    vertical-align: top;
    margin: 10px;
    font-family: 'helvetica', san-serif;
    min-height: 25vh;
    background: #262a2b;
    border: 1px solid #252727;
    text-align: left;
}

.tilesWrap li h2 {
    font-size: 114px;
    margin: 0;
    position: absolute;
    opacity: 0.2;
    top: 50px;
    right: 10px;
    transition: all 0.3s ease-in-out;
}

.tilesWrap li h3 {
    font-size: 20px;
    color: #b7b7b7;
    margin-bottom: 5px;
}

.tilesWrap li p {
    font-size: 16px;
    line-height: 18px;
    color: #b7b7b7;
    margin-top: 5px;
}

.tilesWrap li button {
    background: transparent;
    border: 1px solid #b7b7b7;
    padding: 10px 20px;
    color: #b7b7b7;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: translateY(-40px);
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
}

.tilesWrap li button:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 120%;
    background: #b7b7b7;
    top: 0;
    opacity: 0;
    left: -140px;
    border-radius: 0 20px 20px 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.tilesWrap li:hover button {
    transform: translateY(5px);
    opacity: 1;
}

.tilesWrap li button:hover {
    color: #262a2b;
}

.tilesWrap li button:hover:before {
    left: 0;
    opacity: 1;
}

.tilesWrap li:hover h2 {
    top: 0px;
    opacity: 0.6;
}

.tilesWrap li:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(2deg, 2deg);
}

.tilesWrap li:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.02);
}

.tilesWrap li:nth-child(1):before {
    background: #C9FFBF;
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.tilesWrap li:nth-child(2):before {
    background: #f2709c;
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    background: linear-gradient(to right, #ff9472, #f2709c);
}

.tilesWrap li:nth-child(3):before {
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}

.tilesWrap li:nth-child(4):before {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);
}

select {
    background: #262a2b;
    background-image: none;
    width: 100%;
    height: 100%;
    color: #b7b7b7;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
}

.select {
    position: relative;
    display: block;
    width: 7em;
    height: 2em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    padding-bottom: 10px;
    padding-left: 100px;
}

.bottone {
    padding-left: 100px;
}

.myButton {
    background-color: #262a2b;
    border-radius: 9px;
    display: inline-block;
    cursor: pointer;
    color: #b7b7b7;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 7px;
    text-decoration: none;
}

.myButton:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #262a2b;
}

.myButton:active {
    position: relative;
    top: 1px;
}