<select>
    <option *ngFor="let genere of listaGeneri">{{genere.descrizione}}</option>
</select>
<div class="list-type5">
    <ol>
        <li *ngFor="let gameItem of gamesList">
            <a>
                {{gameItem.id}}&nbsp;&nbsp;&nbsp;&nbsp;{{gameItem.nome}}
            <!--{{gameItem.descrizione}} {{gameItem.genere}} {{gameItem.rating}} {{gameItem.prezzo}} {{gameItem.annoUscita}}-->
            </a>
            <button (click)="selectedComponent(gameItem.id)">Vai al dettaglio></button>
        </li>
    </ol>
</div>