<!--<header>
    <nav>
        <ul class="nav_links">
            <li class="benvenuto">benvenuto {{utente}}</li>
            <li routerLink="/home" routerLinkActive="active">Home</li>
            <li routerLink="/list" routerLinkActive="active">Lista</li>
            <li *ngIf="admin()" routerLink="/edit" routerLinkActive="active">Edit</li>
            <li><button (click)="logout()" class="myButton">Logout</button></li>
        </ul>
    </nav>
</header>-->

<body>
    <ul>
        <li class="benvenuto">benvenuto {{utente}}</li>
        <li routerLink="/home" routerLinkActive="active">Home</li>
        <li routerLink="/list" routerLinkActive="active">Lista</li>
        <li *ngIf="admin()" routerLink="/edit" routerLinkActive="active">Edit</li>
        <li (click)="logout()">Logout</li>
    </ul>
</body>